@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --main-color: #00a3ca;
  --foreground: #171717;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
}

a {
  color: var(--main-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  border-radius: 30px !important;
}

/* ==================== Masonry 瀑布流（图文卡片） ==================== */
.my-masonry-grid {
  display: flex;
  margin-left: -20px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px;
  background-clip: padding-box;
}
